.property-columns {
  background-color: #fbfaf5;
  display: flex;
  justify-content: space-around;

  .heading {
    text-align: center;
    h1,
    h2 {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 600px) {
  .property-columns {
    flex-direction: column;
    padding: 0px 20px;
  }
}
