@import "./variables.scss";

.heading {
  text-align: center;
}

.property-card {
  border: 2px solid #c9c9c9;
  border-radius: 3px;
  position: relative;
  margin-bottom: 30px;
  transition: all 0.5s;
  width: 400px;

  &__body {
    display: flex;

    img {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    padding: 5px 5px;

    img {
      width: 40%;
    }
  }

  &__footer {
    background-color: $softBlack;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;

    h5 {
      font-size: 15px;
      font-weight: 600;
      color: #ffffff;
    }

    .price {
      color: #ffffff;
      font-size: 20px;
      letter-spacing: 3px;
    }

    h5 svg {
      color: green;
    }
  }

  &:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transform: scale(1.04);
  }

  .add-remove-button {
    align-items: center;
    background-color: $softBlack;
    border: none;
    bottom: 0px;
    border-color: transparent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 20px;
    font-weight: 900px;
    cursor: pointer;
    display: flex;
    height: 50px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0.1rem;
    opacity: 0;
    padding: 5px;
    position: absolute;
    transition: all 0.3s linear;
    width: 100%;

    &:hover {
      background-color: $softBlackHover;
    }

    svg {
      margin-left: 5px;
    }
  }

  &:hover .add-remove-button {
    opacity: 1;
  }

  &.active:hover .property-card__footer {
    margin-bottom: 50px;
  }

  .add-button {
    svg {
      color: gold;
    }
  }

  .remove-button {
    svg {
      color: red;
    }
  }

  .hide-button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .property-card {
    width: unset;

    &__footer {
      height: 100px;
    }

    .add-remove-button {
      opacity: 1;
      margin-top: 40px;
    }
  }
}
